.titleBar{
    background-image: url('../../../../../public/titlebarBg.png');
    height: 500px;
}
.titleRow{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputFormat{
    background: #1b1b1b;
    border: 1px solid rgba(150, 73, 203, 0.3);
    color: #e8e8e8;
}