<div class="col-7 mx-auto">

    <div class="row titleRow mb-3 rounded-start mt-5">
        <div class="col-12 col-xxl-5 d-flex flex-column gap-3 justify-content-center align-items-center mb-3">
            <h3 class="mt-5 text-center">Foglald le álmaid szállását!</h3>
            <p class="text-center subtitle">Egyszerűen, gyorsan, megbízhatóan.</p>

            <form action="" class="d-flex flex-column gap-3 justify-content-center align-items-center">

                <p-floatlabel variant="on">
                    <input pInputText id="city" autocomplete="off" class="inputFormat" />
                    <label for="city">Település</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-datepicker id="arrival" [iconDisplay]="'input'" [showIcon]="true" dateFormat="yy-mm-dd"
                        class="inputFormat" />
                    <label for="arrival">Érkezés</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-datepicker id="leave" [iconDisplay]="'input'" [showIcon]="true" dateFormat="yy-mm-dd"
                        class="inputFormat" />
                    <label for="leave">Távozás</label>
                </p-floatlabel>

                <p-inputnumber id="persons" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                    [step]="1" min="1" suffix=" fő" class="inputFormat">
                    <ng-template pTemplate="incrementbuttonicon" class="inputFormat">
                        <span class="bi bi-plus"></span>
                    </ng-template>
                    <ng-template pTemplate="decrementbuttonicon" class="inputFormat">
                        <span class="bi bi-dash"></span>
                    </ng-template>
                    <label for="persons">Személyek száma</label>
                </p-inputnumber>


                <p-button label="Keresés" [raised]="true" class="btn-primary" />
            </form>

        </div>
        <div class="col-12 col-xxl-7 d-flex mb-sm-3 mb-xxl-0 justify-content-center align-items-center">
            <img src="titlebarBg.png" alt="" width="100%" class="rounded">
        </div>
    </div>

    <div class="pageAdRow row gap-4 justify-content-center">
        <div class="card col-2 p-3 cardAd">
            <h5 class="border-bottom pb-2 text-center">Ingyenes lemondás</h5>
            <p>Mondja le ingyen a szállást az utazást megelőző 24 óráig bezárólag.</p>
        </div>
        <div class="card col-2 p-3 cardAd">
            <h5 class="border-bottom pb-2 text-center">Rugalmas foglalás</h5>
            <p>Válassza a rugalmas foglalást, és módosítsa a dátumokat ingyenesen.</p>
        </div>
        <div class="card col-2 p-3 cardAd">
            <h5 class="border-bottom pb-2 text-center">Legjobb ár garancia</h5>
            <p>Ha talál egy jobb árat, mi visszatérítjük a különbözetet.</p>
        </div>
        <div class="card col-2 p-3 cardAd">
            <h5 class="border-bottom pb-2 text-center">Gyors, egyszerű foglalás</h5>
            <p>Foglaljon szállást néhány kattintással, és élvezze az egyszerű folyamatot.</p>
        </div>


    </div>

    <div class="pageAd my-5">
        <p class="ms-2"><sub>Hirdetés</sub></p>

        <h2 class="text-center mt-4">10% kedvezmény minden visszatérő vendég számára!</h2>

        <p class="text-end mt-4 me-2"><sub>A felhasználási feltételek érvényesek.</sub></p>
    </div>

    <div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mb-0">Fedezze fel városainkat!</h2>
            <a href="/varosok" class="ms-3">Összes város</a>
        </div>


        <p-carousel [value]="cities" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions"> <!---->
            <ng-template let-city #item>
                <div class="m-2 p-2">
                    <div class="mb-2">
                        <a class="btn relative" href="/varosok/1">
                            <img src="{{ city.image }}" [alt]="city.name" class="w-full rounded-border" />
                            <span class="mt-2 text-center d-block">
                                {{ city.name }}
                            </span>
                        </a>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>


    <div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h2 class="mb-0">Kiemelt szállásaink</h2>
            <a href="/varosok" class="ms-3">Továbbiak</a>
        </div>


        <p-carousel [value]="accomodations" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-accomodation #item>


                <div class="card m-2">
                    <div class="mb-2">
                        <div class="relative p-3">
                            <img src="{{ accomodation.image }}" [alt]="accomodation.name" class="accImg" />
                            <span class="mt-2 text-start d-block">
                                {{ accomodation.name }}
                                <br />
                                <small class="text-muted">{{ accomodation.address }}</small>

                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <small class="text-muted">{{ accomodation.capacity }} fő</small>
                                    <br />
                                    <small class="text-muted">{{ accomodation.basePrice }} Ft/éj</small>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <p-button label="Foglalás" class="mt-3 btn-primary text-center"></p-button>
                                </div>

                            </span>
                        </div>
                    </div>
                </div>


            </ng-template>
        </p-carousel>


    </div>


    <div class="pageAd my-5">
        <p class="ms-2"><sub>Hirdetés</sub></p>

        <h1 class="text-center mt-4">Garantált pénzvisszatérítési garancia!</h1>

        <p class="text-end mt-4 me-2"><sub>A felhasználási feltételek érvényesek.</sub></p>
    </div>


    <div class="card mb-5 p-4 text-center">

        <h3 class="text-center my-4">A foglaláshoz regisztráljon/jelentkezzen be!</h3>
        <div class="d-flex justify-content-center align-items-center mb-4">
            <p-button label="Regisztráció" class="me-3 btn-primary"><i class="bi bi-person-plus"></i></p-button>
            <p-button label="Bejelentkezés" class="btn-secondary"><i class="bi bi-person-check"></i></p-button>
        </div>

    </div>
</div>