/* You can add global styles to this file, and also import other style files */

body {
    background-color: #212220;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, .btn {
    font-family: 'Poppins', sans-serif;
}
