<div class="profile-wrapper d-flex align-items-center justify-content-center">
    <div class="profile-card p-4 col-lg-9">
        <h2 class="text-center mb-2">Fiókbeállítások</h2>
        <p class="text-center mb-5 subtitle"><i class="bi bi-person-circle"></i> Profilod és biztonsági adataid kezelése</p>

        <div class="row g-4">
            <div class="col-12 col-xxl-6">
                <div class="profile-section p-4 h-100">
                    <h6 class="section-title mb-4"><i class="bi bi-card-text"></i>Alapadatok</h6>
                    <p class="subtitle">Név és E-mail módosítás</p>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="">
                        <label for="name">Név</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="email" class="form-control" id="email" placeholder="">
                        <label for="email">E-mail cím</label>
                    </div>
                    
                    <p class="subtitle" style="margin-bottom: 3px; text-align: right;">Az üresen hagyott mezők nem módosulnak!</p>
                    <button class="btn btn-outline-light w-100"><i class="bi bi-pencil"></i>&nbsp;Adatok módosítása</button>
                </div>
            </div>

            <div class="col-12 col-xxl-6">
                <div class="profile-section p-4 h-100">
                    <h6 class="section-title mb-4 text-end"><i class="bi bi-shield-lock"></i>Biztonság</h6>
                    <p class="subtitle">Jelszómódosítás</p>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="oldPass" placeholder="">
                        <label for="oldPass"><i class="bi bi-lock"></i>&nbsp;Régi jelszó <em>*</em></label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="newPass" placeholder="">
                        <label for="newPass"><i class="bi bi-key"></i>&nbsp;Új jelszó <em>*</em></label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="newPassConfirm" placeholder="">
                        <label for="newPassConfirm"><i class="bi bi-key"></i>&nbsp;Új jelszó újra <em>*</em></label>
                    </div>
                    
                    <button class="btn btn-primary w-100"><i class="bi bi-shield-check"></i>&nbsp;Jelszó módosítása</button>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <button class="btn btn-outline-light w-100" routerLink="/"><i class="bi bi-arrow-left"></i>&nbsp;Vissza a főoldalra</button>
        </div>
    </div>
</div>