<div class="table-wrapper d-flex align-items-center justify-content-center">
    <div class="table-card p-3 col-lg-7">
        <h2 class="text-center mb-4">Elérhető szállásaink</h2>
        <p class="text-center mb-4 subtitle"><i class="bi bi-house"></i>&nbsp;Böngésszen ajánlatokat szállodáknál, otthonoknál és sok másnál...</p>

        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="col-lg-8 align-items-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://media.istockphoto.com/id/695733614/photo/white-male-call-duck.jpg?s=612x612&w=0&k=20&c=JB1qeE_J-yQ35CkgLLl6qHAuDWE0DLZmtqUYJyZU2Ts=" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="">Placeholder cím</a>
                                <p class="card-text">Ez egy random leírás izébizé ami hosszabb valamiért?</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <p>Oldalonként x; Összesen <span style="padding: 0px;">y</span></p>
        <!-- TODO: paginator ide -->
    </div>
</div>

