<footer>
<div class="row p-0 m-0 border-top justify-content-center align-items-center">
    
    <div class="col-2 py-3">
        <p class="mb-1 ">Készítette:</p>
        <p>Krizsák Kornél, Ohradka Gergő</p>
    </div>

    <div class="col-3 text-center py-3">
        <p class="copyright">&copy; 2024 Bookaroo. Minden jog fenntartva.</p>
    </div>

    <div class="col-2 py-3 text-end">
        <p class="mb-1"><i class="bi bi-github"></i>&nbsp;&nbsp;GitHub Repository:</p>
        <a href="https://www.github.com/krizsakkornelkaroly/bookaroo">Bookaroo</a>
    </div>


</div>


</footer>