<div class="table-wrapper d-flex align-items-center justify-content-center">
    <div class="table-card p-4 col-lg-8">
        <h2 class="text-center mb-2">Foglalások</h2>
        <p class="text-center mb-5 subtitle"><i class="bi bi-shield-lock"></i>&nbsp;Admin panel: foglalások listája és kezelése</p>

        <div class="row g-4">
            <div class="col-12 col-xxl-3">
                <div class="filter-card p-3">
                    <h6 class="filter-title mb-3"><i class="bi bi-sliders"></i>&nbsp;Szűrés</h6>

                    <div class="form-floating mb-3">
                        <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                            [showClear]="true" placeholder="Dátum">
                        </p-select>
                    </div>

                    <div class="form-floating mb-3">
                        <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                            [showClear]="true" placeholder="Felhasználó">
                        </p-select>
                    </div>

                    <div class="form-floating mb-4">
                        <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true"
                            [showClear]="true" placeholder="Szállás">
                        </p-select>
                    </div>

                    <button class="btn btn-primary w-100 mb-3"><i class="bi bi-search"></i>&nbsp;Keresés</button>

                    <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#newModal"><i class="bi bi-plus-square"></i>&nbsp;Új szállás felvétele</button>
                </div>
            </div>

            <div class="col-12 col-xxl-9">

                <div class="row g-4 mb-3">
                    <div class="col-12">
                        <div class="accommodation-card">
                            <img src="https://img.freepik.com/premium-photo/bright-yellow-rubber-duck-toy-isolated-white-background_983093-9038.jpg?semt=ais_hybrid&w=740&q=80" class="accommodation-img" />

                            <div class="accommodation-content">
                                <h5>Placeholder szállásfoglalás cím</h5>
                                
                                <ul class="booking-details">
                                    <li><strong>Név:</strong> placeholder sándor</li>
                                    <li><strong>Email:</strong> placeholder&#64;email.com</li>
                                    <li><strong>Tartózkodás:</strong> 2011-01-02 → 2026-12-31</li>
                                    <li><strong>Éjszakák:</strong> 5842</li>
                                    <li><strong>Létszám:</strong> 3 fő</li>
                                </ul>
                                
                                <div class="booking-actions d-flex gap-3">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-pencil-square"></i>&nbsp;Módosítás</button>
                                    <button class="btn btn-outline-light danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash"></i>&nbsp;Törlés</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <p class="paginatorText">Oldalonként 10 <i class="bi bi-dot"></i> Összesen: y</p>
            <!-- paginator ide -->
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Placeholder foglalás módosítása</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="accommodationName" placeholder="">
                        <label for="accommodationName" class="form-label"><i class="bi bi-house"></i>&nbsp;Foglaló neve</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="email" placeholder="">
                        <label for="email" class="form-label"><i class="bi bi-envelope"></i>&nbsp;Email</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="checkInDate">
                        <label for="checkInDate" class="form-label"><i class="bi bi-calendar"></i>&nbsp;Bejelentkezés dátuma</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="checkOutDate">
                        <label for="checkOutDate" class="form-label"><i class="bi bi-calendar"></i>&nbsp;Kijelentkezés dátuma</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="guestCount" placeholder="">
                        <label for="guestCount" class="form-label"><i class="bi bi-people"></i>&nbsp;Létszám</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Mégse</button>
                <button type="button" class="btn btn-primary"><i class="bi bi-floppy"></i>&nbsp;Változtatások mentése</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-lg fade" id="newModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Új foglalás hozzáadása</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col modal-left">
                            <select class="form-select mb-3 accommodation-select">
                                <option selected>Szállás neve</option>
                                <option value="1">Szállás 1</option>
                                <option value="2">Szállás 2</option>
                                <option value="3">Szállás 3</option>
                            </select>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" placeholder="">
                                <label for="name"><i class="bi bi-person"></i>&nbsp;Név</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailAddress" placeholder="">
                                <label for="emailAddress"><i class="bi bi-envelope"></i>&nbsp;Email cím</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="checkInDate">
                                <label for="checkInDate" class="form-label"><i class="bi bi-calendar"></i>&nbsp;Bejelentkezés dátuma</label>
                            </div>
                                
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="checkOutDate">
                                <label for="checkOutDate" class="form-label"><i class="bi bi-calendar"></i>&nbsp;Kijelentkezés dátuma</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="countryName" placeholder="">
                                <label for="countryName"><i class="bi bi-map"></i>&nbsp;Ország neve</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cityName" placeholder="">
                                <label for="cityName"><i class="bi bi-geo"></i>&nbsp;Város neve</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="postalCode" placeholder="">
                                <label for="postalCode"><i class="bi bi-postage"></i>&nbsp;Irányítószám</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="accommodationAddress" placeholder="">
                                <label for="accommodationAddress"><i class="bi bi-house"></i>&nbsp;Cím</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="accommodationCapacity" placeholder="">
                                <label for="accommodationCapacity"><i class="bi bi-people"></i>&nbsp;Létszám</label>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Mégse</button>
                <button type="button" class="btn btn-primary"><i class="bi bi-plus-square"></i>&nbsp;Szállásfoglalás mentése</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Foglalás törlése</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Biztos, hogy törölni akarod ezt a Foglalást?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Mégsem</button>
                <button type="button" class="btn btn-outline-light danger"><i class="bi bi-trash"></i>&nbsp;Törlés megerősítése</button>
            </div>
        </div>
    </div>
</div>