<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand col-3 ms-5">
      <img src="{{environment.logo}}" alt="Bookaroo logo" class="logoImg">
      {{environment.title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
        <li class="nav-item mb-sm-3 mb-lg-0 mainNav">
          <a class="nav-link active mainNavLink" aria-current="page" href="#">Főoldal</a>
        </li>

        <li class="nav-item mb-sm-3 mb-lg-0 mainNav">
          <a class="nav-link active mainNavLink" aria-current="page" href="" routerLink="/accommodation-list">Szállások</a>
        </li>


        <li class="nav-item mb-sm-3 mb-lg-0 mainNav">
          <a class="nav-link active mainNavLink" aria-current="page" href="" routerLink="/accommodation-management">Szállások kezelése</a>
        </li>


        <li class="nav-item mb-sm-3 mb-lg-0 mainNav">
          <a class="nav-link active mainNavLink" aria-current="page" href="" routerLink="/bookings">Foglalások</a>
        </li>


        <li class="nav-item mb-sm-3 mb-lg-0 mainNav">
          <a class="nav-link active mainNavLink" aria-current="page" href="" routerLink="/calendar">Naptár</a>
        </li>

      </ul>


      <div class="col-sm-12 col-lg-2 secondNav">
        <ul class="navbar-nav mb-lg-0">

          <li class="nav-item mb-sm-3 mb-lg-0">
            <a class="nav-link active fs-2" aria-current="page" href="" routerLink="/profile"><i class="bi bi-person-circle"></i></a>
          </li>

          <li class="nav-item mb-sm-3 mb-lg-0">
            <a class="nav-link active fs-2" aria-current="page" href="#"><i class="bi bi-box-arrow-right"></i></a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</nav>