<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngIf="message" id="liveToast" class="toast show text-bg-{{message.severity}}">
    <div class="toast-header">
      <i class="bi {{message.icon}}"></i>&nbsp;
      <strong class="me-auto">{{message.title}}</strong>
      <small>{{message.timestamp | date:'HH:mm:ss'}}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message.message}}
    </div>
  </div>
</div>

<!--
<div *ngIf="message" class="alert alert-{{message.severity}} alert-dismissible fade show" role="alert">
    <strong><i class="bi {{message.icon}}"></i> {{message.title}}</strong> - {{message.message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>-->